{{response.files.append(URL('static','css/homepage.css'))}}
{{extend 'layout.html'}}
<html>
  <head>
    <title>Homepage Background https://github.com/mdipierro/web2py-appliances/tree/master/KPax2</title>
    <style type="text/css">
		body{  
			background: url("{{=URL(r=request,c='static',f='silvier.jpg')}}");      
			font-family: Comic Sans MS, helvetica;
			font-size: 18px; 
			color: #333; }
		a { 
			text-decoration: none; color: #333;}
		img { 
			border:0;}
    </style>
  </head>
  <body>
    <div style="height:50px"></div>
    <center>
    <a href="{{=URL(r=request,c='default',f='index')}}">
    <img src="{{=URL(r=request,c='static',f='Screen-shot.jpg')}}"/>
    </a><br/>
    Come join the Slug Movement. Get Fit!
    </center>
  </body>
</html>


