{{extend 'layout.html'}}
<html>
<body>
<div style ="padding-left: 20px;">
<h1>Event Listing:</h1>

{{=A ('Add Event', _href=URL('default','event'), _class='btn')}}
{{=A ('Profile Page', _href=URL('default','login'), _class='btn')}}
<br><br>

{{ if str(event) != "[]":}}
   {{for x in event:}}
	<div style ="background-color: #66CCCC ; padding-right:10px; padding-top:10px; padding-left:10px; padding-bottom:10px; margin-right:20px">
      {{ if x.join == "":}}   
         Posted by: {{=x.email}} <br>
         Date is:  {{=x.date}} <br>
         Title is: {{=x.title}} <br>
         Event is: {{=x.event}} <br>
         {{tempid = str(x.key.id())}}
        {{= A('View', _class='btn', _href=URL('default', 'view', args=tempid)) }} 
        {{ temp = Join.query(Join.email ==get_user_email(), Join.title == x.title).fetch() }}

        {{ if x.email == get_user_email():}}
           {{= A('Edit', _class='btn', _href=URL('default', 'editevent', args=tempid)) }} 
        {{ pass }}                 
        {{ for y in temp:}}
            {{ flag = 0}}
     
        {{pass}}     
       
        {{ if flag == 1:}}
           {{= A('Join', _class='btn', _href=URL('default', 'join', args=tempid)) }} 
        {{ pass}}

         {{ flag = 1}}        
       {{pass}}
	   </div>
   <br>

   {{pass}}
   
{{pass}}

<div>
</body>
</html>
