{{extend 'layout.html'}}

<html>
<body>
<div style ="padding-left: 20px;">
<h1>Welcome to the Profile Page</h1>

{{=A ('Personal Trainer', _href=URL('default','trainer'), _class='btn')}}
{{=A ('Event Page', _href=URL('default','listevent'), _class='btn')}}
 {{=A ('Workout Calendar', _href=URL('default','mycal'), _class='btn')}}
{{ if flag == 0 :}}
 {{=A ('Add Profile', _href=URL('default','profile'), _class='btn')}}
{{ else: }}
 {{=A ('Edit Profile', _href=URL('default','editprofile'), _class='btn')}}

{{pass}}

<br>
<br>
{{ if flag == 1: }}
<b>Profile</b>
<br>
{{for x in check:}}
   Name: {{=x.name}} <br>
   Address: {{=x.address}} <br>
   Height: {{=x.height}} <br>
   Weight:{{=x.weight}}
{{pass}}
{{pass}}
 <br><br>
 <b>Events:</b>
 <br>
{{ if str(event) != "[]":}}
   {{for x in event:}}
      {{ if x.join == "":}}   

        {{ temp = Join.query(Join.email ==get_user_email(), Join.title == x.title).fetch(100) }}     
        {{ for y in temp:}}
           Posted by: {{=x.email}} <br>
           Date is:  {{=x.date}} <br>
           Title is: {{=x.title}} <br>
           Event is: {{=x.event}} <br>
        {{pass}}     
         <br>
         <br>           
       {{pass}}

   {{pass}}
   
{{pass}}
</div>
</body>
</html>