{{extend 'layout.html'}}

<html>

<body>
<div style ="padding-left: 20px;">
<h1>My Profile</h1>

{{=A ('Personal Trainer', _href=URL('default','trainer'), _class='btn')}}
{{=A ('Event Page', _href=URL('default','listevent'), _class='btn')}}
 {{=A ('Workout Calendar', _href=URL('default','mycal'), _class='btn')}}
{{ if flag == 0 :}}
 {{=A ('Add Profile', _href=URL('default','profile'), _class='btn')}}
{{ else: }}
 {{=A ('Edit Profile', _href=URL('default','editprofile'), _class='btn')}}

{{pass}}

<br>
<br>
{{ if flag == 1: }}
<br>
{{for x in check:}}
 <b  style ="font-size:125%;">  Name: {{=x.name}} <br> </b>
 <b  style ="font-size:125%"> Email: {{=s}} <br> </b>
 <b  style ="font-size:125%">  Address: {{=x.address}} <br> </b>
<b  style ="font-size:125%">   Height: {{=x.height}} <br> </b>
<b  style ="font-size:125%">   Weight:{{=x.weight}} </b>


{{pass}}
{{pass}}
 <br><br><br><br>
 <div style ="padding-bottom:5px;">
 <b  style ="font-size:175%; padding-bottom:10px;">Events I Joined:</b>
 </div>
 <br>
{{ if str(event) != "[]":}}
   {{for x in event:}}
      {{ if x.join == "":}}   

        {{ temp = Join.query(Join.email ==get_user_email(), Join.title == x.title).fetch(100) }}     
		{{ for y in temp:}}
		{{tempid = str(x.key.id())}}
                {{dot = "..."}}
                {{x1 = x.event}}
                {{x2 = len(x1)}}
                {{if x2 >= 50:}}
                   {{x3 = 50 - x2}}
                   {{x1 = x1[:x3]}} 
                   {{x1 = x1 + dot}}               
              {{pass}}
                {{y1 = x.title}}
                {{y2 = len(y1)}}
                {{if y2 >= 25:}}
                   {{y3 = 25 - y2}}
                   {{y1 = y1[:y3]}} 
                   {{y1 = y1 + dot}}               
              {{pass}}
            <div style="height: 150px;width: 35%;float:left;background:#FFFFCC;border: thick solid  ##FFFFCC;border-radius:20px; padding-left:20px; padding-right:20px; margin: 20px;">
           <br>  
           <p style = "font-size:175%;"><a href = "{{=URL('default','view', args=tempid)}}" > {{=y1}}</a><p>
           Posted by: {{=x.email}} <br>
           Date is:  {{=x.date}} <br>
           Description is: {{=x1}}
	</div>   
        {{pass}}     
                
       {{pass}}

   {{pass}}
   
{{pass}}
</div>
</body>
</html>
