<!DOCTYPE html>

{{response.files.append(URL(r=request,c='static',f='js/fullcalendar.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='js/fullcalendar.js'))}}
{{response.files.append(URL(r=request,c='static',f='css/fullcalendar.css'))}}
{{extend 'layout.html'}}

{{pass}}
<script type='text/javascript'>
	$(document).ready(function() {


        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#calendar').fullCalendar({
            editable: false,
			events:[
			     {{for i,x in enumerate(event):}}{{if i != 0:}},{{pass}}   
					{
					{{ if x.join == "":}} 

					{{tempid = str(x.key.id())}}
                     title: '{{=x.title}}',
                     start: new Date('{{=x.date.strftime('%B %d, %Y %H:%M:%S')}}'),	
					 url: '{{=URL('view', args=tempid)}}'

					{{pass}}
					}
			   {{pass}}
			]
        });
    });
</script>
<style>

	body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>
</head>
<html>
<div style = "background-color: #C8C8C8;">
<body>
<div id='calendar'></div>
</body>
</div>
</html>


