{{response.files.append(URL('static','css/custom.css'))}}
{{extend 'layout.html'}}
<html>
<h1>Workout Schedule</h1>
<body>
	
	<script>
		function getid(el) {   
			alert($(el).attr("id"));
		}
	</script>
	
	<div style="width:800px; margin:0 auto;">
	<table>
		<tr>
			<td> <input id ="s2k" class = "myinput" value='' onclick="getid(this);"></input> </td>
			{{weeks = ['Week 1','Week 2','Week 3','Week 4', 'Week 5', 'Week 6', 'Week 7']}}
			{{for c in xrange(7):}}
			<td> <input readonly class = "myinput" value='{{=weeks[c]}}'></input> </td>
			{{pass}}
		</tr>
		
		{{days = ['Monday', 'Tuesday' , 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']}}
		{{for r in xrange(7):}}
		<tr>
			<td> <input class = "myinput" value='{{=days[r]}}' readonly></input> </td>
			{{for c in xrange(7):}}
			<td> <input class="myinput" value='r{{=r}}c{{=c}}' id='r{{=r}}c{{=c}}' onclick="getid(this);"></input> </td>
			{{pass}}
		</tr>
		{{pass}}

	</table>
	</div>	

</body>
<html>