{{response.files.append(URL('static','css/custom.css'))}}
{{extend 'layout.html'}}
<html>
<body>
	<h1>Workout Schedule</h1>
	<p>Enter your data here</p>	
	<div>
    		<input class = "myinput"></input>
    		<input class = "myinput" value="Week 1"></input>
    		<input class = "myinput" value="Week 2"></input>
    		<input class = "myinput" value="Week 3"></input>
    		<input class = "myinput" value="Week 4"></input>
    		<input class = "myinput" value="Week 5"></input>
    		<input class = "myinput" value="Week 6"></input>
    		<input class = "myinput" value="Week 7"></input>
		</div>
		<div>
    		<input class = "myinput" value="Monday"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
		</div>
		<div>
    		<input class = "myinput" value="Tuesday"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
		</div>
		<div>
    		<input class = "myinput" value="Wednesday"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
		</div>
		<div>
    		<input class = "myinput" value="Thursday"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
		</div>
		<div>
    		<input class = "myinput" value="Friday"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
		</div>
		<div>
    		<input class = "myinput" value="Saturday"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
		</div>
		<div>
    		<input class = "myinput" value="Sunday"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
    		<input class = "myinput"></input>
		</div>
		
		


</body>
<html>