{{extend 'layout.html'}}

<html>
<body>
<div style ="padding-left: 20px;">
<h1>Find your trainers (Enter name)</h1>


{{block head}}
<style>
#additem {
  vertical-align: top;
}
</style>

<script>
$(document).ready(function() {
  $("#additem").click(function() {
    var newitem = $("#newitem").val();
    var hold = newitem;
    $("#newitem").val("");
    var encodeditem = $('<div/>').text(newitem).html();
    var newdiv = $("<div>");
    //alert(hold)
    
    $.ajax({type: "GET",
      url: '{{=URL(r=request, f='test')}}',
      data: "search=" + newitem, 
      				success: function(msg){ 
                    if(msg == ""){
                       //alert("blank Message");
                       var display = document.getElementById('NoResult');                
                       display.innerHTML = 'No results found';                         
                    }else{                                    
                    var url_link = '/SlugFitness/default/result/' + msg;
                    //alert(url_link)
                    window.location.href = url_link;
                    }
				}
      });
    
    //newdiv.html(encodeditem);
    //$("#mylist").append(newdiv);
  });

});
</script>
{{end}}

<div id = "NoResult" > </div>


<div id="mylist">
</div>

<input id="newitem" type="text" class="text"/>
<button id="additem" class="btn">Search</button>


<br>
<br>

<h2> Search Result of Trainers </h2>
<br> <br>

{{for x in rows:}}
   Name: {{=x.name}} <br>
   Phrase: {{=x.phrase}} <br> <br>
{{pass}}
{{pass}}

<br>
<br>

</div>
</body>
</html>