#wrapper {
    width: 1000px;
	height: 120px;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#first {
    width: 600px;
	height: 100px;
    float:left; /* add this */
}
#second {
    overflow: hidden; /* if you don't want #second to wrap below #first */

}

.untilgoal {  
   color:#000000;
   width: 120px;
   height: 30px;
   background-color: #00FF00;
   text-align:center;
   font-weight:bold;

}

.curr_user {  
   color:#000000;
   width: 250px;
   height: 30px;
   text-align:center;

}

.myinput {  
   color:#000000;
   width: 100px;
   height: 30px;
   text-align:center;

}

.col_row {  
   color:#4B2E10;
   width: 100px;
   height: 30px;
   text-align:center;
   background-color: #BBE9FF;

}

.minute_remain {  
   color:#4B2E10;
   width: 120px;
   height: 30px;
   text-align:center;
   background-color: #BBE9FF;

}

.weeklySum {  
   color:#000000;
   width: 100px;
   height: 30px;
   text-align:center;
   background-color: #00CCCC;
   font-weight:bold;

}

.sheet td {
    text-align: left;
    vertical-align: top;
    padding: 0 0 0 0;
    border: 0 0 0 0;
    spacing: 0 0 0 0;
}
.sheet input {
    border: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	font-family: helvetica, arial, sans serif;
	padding-left: 0px;
	
	
}
td.colhead, td.rowhead {
    background-color: #bbbbbb;
    padding-left: 5px;
    padding-right: 5px;
}
td.rowhead {
    width: 30px;
    text-align: right;
}